.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# VS Code workSpaces
*.code-workspace

# Obsidian
.obsidian/*

# Configs
.config/__*.yaml
*.code-workspace

# database 
*.db
